# Dependencies
node_modules/

# Build output
dist/
build/

# Config files
webpack.config.js
webpack.common.js
webpack.dev.js
webpack.prod.js
.prettierrc
.eslintrc.js

# Service Worker
service-worker.js

# Test files
*.test.js
*.spec.js

# Other
*.min.js
